@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}

header {
    background-image: url(./Assets/Hero-bg.png);
}

.header-container {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 34px;
    line-height: 51px;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.sign-up a {
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    background-color: #4E47FF;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    transition: .3s;
}

.sign-up a:hover {
     background-color: #4E22FF;
}

.header-container h1 {
    font-size: 65px;
    text-align: center;
    padding-top: 160px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 160px;
}
.stay-focus-btn {
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    background-color: #4E47FF;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
}

.stay-focus-btn:hover {
    background-color: #4E22FF;
}